.button{
    border-radius: 100%;
    padding: 0.5rem;
    margin: 1rem;
    background-color: #f68fff;
    border: none;
}

.transparent{
    background-color: transparent;
}

.add-icon{
    font-size: 1.5rem;
    color: white;
    font-weight: 100;
}

.edit-icon{
    font-size: 1.5rem;
    color: white;
}

.arrow-icon{
    font-size: 1.5rem;
    color: white;
}
.back-arrow{
    font-size: 1.5rem;
    color: white;
}

.button:hover{
    cursor: pointer;
}